{% extends 'csnova/student/base.html' %}
{% block content%}
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>项目名称</th>
                  <th>老师</th>
                  <th>方向</th>
                  <th>计划名额</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1,001</td>
                  <td>Lorem</td>
                  <td>ipsum</td>
                  <td>dolor</td>
                </tr>
                <tr>
                  <td>1,002</td>
                  <td>amet</td>
                  <td>consectetur</td>
                  <td>adipiscing</td>
                </tr>
              </tbody>
            </table>
          </div>
          {% endblock %}